.box{
    display: flex;
    flex-direction: column;
    padding:10px;
    border:1px solid lightgreen;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;

}

.box:hover{
    border: 2px solid olive;
}

.box_info{
    display:flex;
    align-items:center;
}
.box_info > h5 {
    color:yellowgreen;
    font-weight: 300;
    margin-left:10px;
}
.box_content {
    display: flex;
    margin-top:8px;
}
.box_content>p {
    color:black;
    font-weight:bold;
    font-size: large;

}